/* Container for centering and responsiveness */
.customerdiv {
  text-align: center;
  margin-top: 0.4rem; /* Add margin-top if required */
}

.carousel-wrapper {
  display: flex;
  justify-content: center;  
  align-items: center;  
  padding: 20px; 
  box-sizing: border-box;
}

/* Carousel container styling */
.carousel-container {
  width: 90%; 
  height: auto; /* Adjust height for responsiveness */
  padding: 2rem;
  max-width: 800px; 
  overflow: hidden; 
  position: relative; 
  border-radius: 10px; 
  background: linear-gradient(135deg, #ff6f6f, #ff8c00); /* Red and orange gradient */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Hide carousel indicators */
.carousel-indicators {
  display: none;
}

/* Ensure carousel items are displayed as block and centered */
.carousel-item-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Center card content */
.carousel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
   
  color: #000000; /* Set card text color to black for better contrast */
  max-width: 300px; /* Adjust max-width if needed */
  margin-top: 1rem;
  padding: 1rem; /* Add padding for better spacing inside the card */
  border-radius: 8px; /* Optional: Rounded corners for the card */
}

/* Card avatar styling */
.avatar-review {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
}

/* Styling for carousel images */
.carousel-img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; 
}

/* Carousel caption styling */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff; 
  bottom: 20px; 
  text-align: center; 
  padding: 10px; 
  border-radius: 5px; 
}
.ant-card:nth-child(1) {
  background-color: #fdfcfc;
}

/* Media queries for different screen sizes */
@media (max-width: 1024px) {
  .carousel-container {
    height: 91vh; 
  }
}

@media (max-width: 768px) {
  .carousel-container {
    height: 92vh; 
  }
}

@media (max-width: 480px) {
  .carousel-container {
    height: 70vh; 
  }
}

@media (max-width: 425px) {
  .carousel-container {
    height: 96vh; 
  }
}

@media (max-width: 375px) {
  .carousel-container {
    height: 112vh; 
  }
}

@media (max-width: 320px) {
  .carousel-container {
    height: 30vh; 
  }
}
