/* firstnav.css */
.navbar1 {
    background-color: rgb(253, 126, 20); /* Orangish theme */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Small padding */
    height: 60px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.hide-on{
    display:none
}

.contact-info {
    color: black;
    display: flex;
    align-items: center;
}

.contact-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-right: 20px; /* Spacing between the two links */
    transition: color 0.3s ease; /* Transition for hover effect */
}

.contact-link:hover {
    color: #f0f0f0; /* Lighter color on hover */
}

.contact-link span {
    margin-left: 8px; /* Spacing between icon and text */
}

.modal-container {
    display: flex;
    align-items: center;
}
@media (max-width: 992px) {
    .hide-on{
        display: flex;
    }
    .hide-2{
        display:none
    }
}
/* Responsive styling */
@media (max-width: 768px) {
    .navbar1 {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .contact-info {
        justify-content: center;
        margin-bottom: 10px;
    }

    .contact-link {
        margin-right: 10px;
    }

    .modal-container {
        justify-content: center;
    }
}
