/* Logo Width */
.logo-width {
    width: 10rem;
    height: 10rem;
}

/* Navbar Styles */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
    height: 80px;
}

.navbar-scrolled {
    background-color: black !important;
}

/* Navbar Custom Styles */
.custom-navbar {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin: 0%;
}

.custom-navbar:hover {
    background-position: right center;
}

.custom-navbar .navbar-brand .brand-name {
    color: #FFFFFF;
    font-weight: bold;
}

.nav-link {
    color: white !important;
}

.nav-links .nav-link {
    font-size: small;
}

.nav-links .nav-link,
.nav-links .nav-dropdown {
    color: white;
    margin-right: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-links .nav-link:hover,
.nav-links .nav-dropdown:hover {
    color: #FFA500;
}

.nav-links .nav-dropdown .dropdown-item {
    color: white;
    font-weight: normal;
    text-align: left !important;
}

.dropdown-item {
    font-size: small !important;
    text-align: left !important;
    font-weight: 700;
}

.nav-links .nav-dropdown .dropdown-item:hover {
    color: #FFA500;
}

/* Center the nav links */
.navbar-collapse {
    display: flex;
    justify-content: center;
    flex: 1;
}

/* Search Icon and Form Styles */
.search-container {
    position: relative;
}
.search-icon {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    margin-left: 1rem;
}

.search-form {
    position: absolute;
    right: 0;
    top: 100%;
    display: flex;
    width: 200px;
    transition: width 0.4s ease-in-out;
}

.search-form input {
    border: 1px solid #ddd;
    padding: 0.5rem;
    width: 100%;
}

.search-form input:focus {
    outline: none;
    border-color: #FFA500;
}

/* Dropdown Styles */
.dropdown-multi-column .dropdown-menu {
    width: 850px;
    padding: 20px;
}

.dropdown-multi-column .dropdown-menu h6 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.dropdown-multi-column .dropdown-menu .dropdown-item {
    white-space: normal;
    padding: 10px 15px;
}

.dropdown-multi-column .dropdown-menu .row {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.dropdown-multi-column .dropdown-menu .col {
    padding: 0;
}

.market-logo {
    width: 3rem;
    height: 3rem;
}

.market-logo-web {
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
}

.logo-text-differ {
    display: flex;
    align-items: center;
}

.unorder-list {
    text-align: left;
    font-size: x-small;
}

.image-h6 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.image-h6 p {
    font-weight: bold;
    color: orange;
    margin-left: 0.5rem;
}